name: CI

on:
  push:
    branches:
      - main
      - develop
      - "feature/**"
      - "release/**"
      - "hotfix/**"
  pull_request:
    branches:
      - main
      - develop

jobs:
  python-ci:
    uses: trivox-io/trivox-ci/.github/workflows/python-ci.yml@main
    with:
      project-name: "deja-bounce"
      lint-path: "src/deja_bounce"
      apt-deps: "libsdl2-dev"
    secrets:
      SLACK_BOT_TOKEN: ${{ secrets.SLACK_BOT_TOKEN }}
      SLACK_CHANNEL_ID: ${{ secrets.SLACK_CHANNEL_ID }}

